body {
	font-size: 16px;
	background-color: grey;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: red;
	border: 1px solid #555;
}

li {
	float: left;
}

li a {
	display: block;
	color: rgb(255, 255, 255);
	padding: 14px 16px;
	text-decoration: none; /* removes the underline */
	text-align: center;
}


/* style for the navbar item that is active */
li a.active {
	background-color: pink;
}

/* style for the navbar item that is hovered by the mouse */
li a:hover:not(.active) {
	background-color: orange;
}

img {
	width: 50%;
	height: 50%;
}

div.choose_data {
	background-color: lightgrey;
	width: 200px;
	border: 15px solid white;
	padding: 50px;
	margin: 20px;
}

div.contact {
	background-color: lightgray;
	width: 25%; /* width of the div */
	border: 15px solid white; /* thickness border, kind border, color border */
	padding: 3%; /* space between text and border, top-right-bottom-left */
	margin: 4%; /* space between div and left and top edge of screen */
}

article.introduction {
	font-family: Georgia, serif; /* style of the font, lettertype */
	font-size: 1.5vw; /* size of the text (font) */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* normal, bold, or numeric */
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

h2.intro_title {
	font-family: Georgia, serif;
	font-size: 2vw;
	margin-top: 5%;
	text-align: center;
}

img.development_team_image {
	border: 2px solid black; /* thickness border, kind border, color border */
	border-radius: 8px; /* for rounding the edges */
	padding: 0; /* space between image and border */
	width: 60%;
	height: auto; /* automatically adapt height to width */
	display: block;
	margin-left: auto;
	margin-right: auto; /* these 3 lines to center an image */
	transition: .5s ease; /* time to transition opacity */
	backface-visibility: hidden;
}

.team_name {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

article.development_team:hover .development_team_image {
	opacity: 0.3;
}

article.development_team:hover .team_name {
	opacity: 1;
}

div.text_image {
	font-family: Georgia, serif;
	font-size: 16px;
	color: white;
	background-color: grey;
	padding: 16px;
	border-radius: 8px;
}