body {
	font-size: 16px;
	background-color: white;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: red;
	border: 1px solid #555;
}

li {
	float: left;
}

li a {
	display: block;
	color: rgb(255, 255, 255);
	padding: 14px 16px;
	text-decoration: none; /* removes the underline */
	text-align: center;
}


/* style for the navbar item that is active */
li a.active {
	background-color: pink;
}

/* style for the navbar item that is hovered by the mouse */
li a:hover:not(.active) {
	background-color: orange;
}

img {
	width: 30px;
	height: 30px;
}

div {
	background-color: lightgrey;
	width: 300px;
	border: 15px solid green;
	padding: 50px;
	margin: 20px;
  }