header {
	background-color:  #6D8890;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: Georgia, serif;
	font-size: 1.5vw;
	background-color: white;
	margin: 0;
	line-height: 1.5;
}

div {
	display: block;
}

h1 {
	margin: 0;
	padding: 1vw;
	font-family: Georgia, serif;
	font-size: 2vw;
}

h2 {
	font-family: Georgia, serif;
	font-size: 2vw;
	margin-top: 2%;
	text-align: center;
}

h3 {
	display: block;
    font-size:1.5vw;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 5%;
	padding-top: 0;
	background-color: #A89584;
}

li {
	float: left;
	width: 25%;
}

li a {
	display: block;
	color: rgb(255, 255, 255);
	padding: 1.5vw;
	font-size: 1.7vw;
	text-decoration: none; /* removes the underline */
	text-align: center;
}


/* style for the navbar item that is active */
li a.active {
	background-color: grey;
}

/* style for the navbar item that is hovered by the mouse */
/* li a:hover:not(.active) {} */

img {
	width: 50%;
	height: 50%;
}

div.choose_data {
	font-family: Georgia, serif; /* style of the font, lettertype */
	font-size: 1.2vw; /* size of the text (font) */
	letter-spacing: 1px; /* space between letters*/
	line-height: 1.2; /* height between lines*/
	background-color: lightgrey;
	width: 40%;
	border: 5px solid #6D8890;
	padding: 50px;
	display: block;
	margin-left: 10%;
	margin-right: auto;
	margin-top: 3vw;
}

div.contact_us { /* NOT USED YET */
	font-family: Georgia, serif; /* style of the font, lettertype */
	font-size: 1.5vw; /* size of the text (font) */
	letter-spacing: 1px; /* space between letters*/
	line-height: 1.6; /* height between lines*/
	background-color: lightgray;
	width: 50%; /* width of the div */
	border: 10px solid #6D8890; /* thickness border, kind border, color border */
	padding: 3%; /* space between text and border, top-right-bottom-left */
	display: block;
	margin: 3vw 40% 3vw 10%; /* space between div and left and top edge of screen */
}

article.introduction {
	font-family: Georgia, serif; /* style of the font, lettertype */
	font-size: 1.5vw; /* size of the text (font) */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* normal, bold, or numeric */
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

img.development_team_image {
	border: 2px solid black; /* thickness border, kind border, color border */
	border-radius: 8px; /* for rounding the edges */
	padding: 0; /* space between image and border */
	width: 80%;
	height: auto; /* automatically adapt height to width */
	display: block;
	margin-left: auto;
	margin-right: auto; /* these 3 lines to center an image */
	transition: .5s ease; /* time to transition opacity */
	backface-visibility: hidden;
}

.team_name {
	color: rgb(255, 255, 255);
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 45vw;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

article.development_team:hover .development_team_image {
	opacity: 0.3;
}

article.development_team:hover .team_name {
	opacity: 1;
}

div.text_image {
	font-family: Georgia, serif;
	font-size: 16px;
	color: white;
	background-color: grey;
	padding: 16px;
	border-radius: 8px;
}

article.data_input {
	font-family: Georgia, serif; /* style of the font, lettertype */
	font-size: 1.5vw; /* size of the text (font) */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* normal, bold, or numeric */
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

form.input{
	display: block;
	left: 30%;
}

/* Home (Index) page */

img.viskit_icon {
	float: left;
	width: 15%;
	height: auto;
}

div.header_colomns{
	padding-top: 0;
	display: flex;	
}

div.name {
	width: 45%;
	margin-right: 5%;
}

div.icon {
	width: 45%;
	margin-left: 5%;
}



/* Contact page */

article.contact {
	font-family: Georgia, serif; /* style of the font, lettertype */
	font-size: 1.5vw; /* size of the text (font) */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* normal, bold, or numeric */
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

div.contact {
    margin: 0 auto;
    width: 80vw;
}

div.contact_columns {
	padding-top: 0;
	display: flex;
}

div.column_left {
	width: 60%;
	margin-right: 3%;
}

div.column_right {
	width: 35%;
	margin-left: 2%;
}

div.row {
	padding-bottom: 2%;
}

img.contact_picture {
	border: 5px double black;
	width: 60%;
	height: auto;
	margin: -2% 25%;
}


/* Visualizations page */

article.visualizations {
	font-family: Georgia, serif; /* style of the font, lettertype */
	font-size: 1.5vw; /* size of the text (font) */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* normal, bold, or numeric */
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

article.visualization_1 {
	border: 5px solid #6D8890;
	float: left;
	width: 42%;
	height: auto;
	padding: 1%;
	margin: 2%;
}

article.visualization_2 {
	border: 5px solid #6D8890;
	float: right;
	width: 42%;
	height: auto;
	padding: 1%;
	margin: 2%;
}

img.image_visualization_1 {
	width: 100%;
	height: auto;
}

button {
	display: block;
	border: 3px solid black;
	border-color: black;
	background-color: grey;
	border-radius: 30px;
	color: black;
	margin: 2% 30%;
	color: white;
	padding: 2% 4%;
	font-size: 100%;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.3s;
}

.button_1:hover {
	background-color: #4CAF50;
	color: white;
}

.button_2:hover {
	background-color: #4CAF50;
	color: white;
}