header {
	background-color:  #6D8890;
	width: 100%;
	padding: 0; /* space between object and border */
	margin: 0; /* space between border and other objects/edge of the screen */
}

body {
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 1.5vw; /* vw: relative to size of the viewport */
	background-color: white;
	margin: 0; /* space between border and other objects/edge of the screen */
	line-height: 1.5; /* space between the lines of text */
}

div {
	display: block; /* type of displaying the object */
}

h1 {
	margin: 0; /* space between border and other objects/edge of the screen */
	padding: 1vw; /* space between object and border */
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 2vw; /* vw: relative to size of the viewport */
	color: white; 
}

h2 {
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 2vw; /* vw: relative to size of the viewport */
	margin-top: 2%; /* top-space between border and other objects/edge of the screen */
	text-align: center; /* position of the text */
}

h3 {
	display: block; /* type of displaying the object */
    font-size:1.5vw; /* vw: relative to size of the viewport */
    margin-block-start: 1em; /* em: relative to the text size */
    margin-block-end: 1em; /* em: relative to the text size */
    margin-inline-start: 0px; /* px: an absolute length */
    margin-inline-end: 0px; /* px: an absolute length */
    font-weight: bold; /* (normal, bold, or numeric) style of the text */
}

h4 {
	display: block; /* type of displaying the object */
    font-size:1.5vw; /* vw: relative to size of the viewport */
    font-weight: bold; /* (normal, bold, or numeric) style of the text */
	margin-top: 0;
	margin-bottom: 4%;
	text-decoration: underline;
}




/* Base */

ul.navbar {
	margin: 0; /* space between border and other objects/edge of the screen */
	padding: 5%; /* space between object and border */
	padding-top: 0; /* top-space between object and border, overwrites the previous padding */
	background-color: #A89584;
	list-style-type: none; /* type of list-item marker */
}

li {
	float: left; /* position the object on the left */
	width: 25%;
}

li a {
	display: block; /* type of displaying the object */
	color: rgb(255, 255, 255);
	padding: 1.5vw; /* space between object and border */
	font-size: 1.7vw; /* vw: relative to size of the viewport */
	text-decoration: none; /* removes the underline */
	text-align: center; /* position of the text */
}

/* style for the navbar item that is active */
li a.active {
	background-color: grey;
}

img.viskit_icon {
	float: right; /* position the object on the right*/
	width: 10%;
	height: auto;
	margin: 0 2%; /* (top & bottom - left & right) space between border and other objects/edge of the screen */
}

img.company_name {
	float: left; /* position the object on the left*/
	width: 25%;
	height: auto;
	margin: 1.5% 2%; /* (top & bottom - left & right) space between border and other objects/edge of the screen */
}

div.header_colomns{
	padding-top: 0; /* top-space between object and border */
	display: flex; /* type of displaying the object */
}

div.name {
	width: 45%;
	margin-right: 5%; /* right space between border and other objects/edge of the screen */
}

div.icon {
	width: 45%;
	margin-left: 5%; /* left space between border and other objects/edge of the screen */
}



/* Home (Index) page */

article.introduction {
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 1.5vw; /* vw: relative to size of the viewport */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* (normal, bold, or numeric) style of the text */
	margin-top: 2%; /* top space between border and other objects/edge of the screen */
	margin-left: 10%; /* left space between border and other objects/edge of the screen */
	margin-right: 10%; /* right space between border and other objects/edge of the screen */
}

img.development_team_image {
	border: 2px solid black; /* (thickness - type of line - color) of the border */
	border-radius: 8px; /* amount of bending in the edges of the border */
	padding: 0; /* space between image and border */
	width: 80%;
	height: auto; /* automatically adapt height to width */
	display: block; /* type of displaying the object */
	margin-left: auto; /* left space between border and other objects/edge of the screen */
	margin-right: auto; /* these 3 lines to center an image */
	transition: .5s ease; /* time to transition opacity */
	backface-visibility: hidden; /* (visible/hidden) back face of the object when facing the user */
}

.team_name {
	color: rgb(255, 255, 255);
	transition: 0.5s ease; /* time to transition opacity */
	opacity: 0;
	position: absolute; /* type of positioning used for this element */
	top: 45vw; /* vw: relative to size of the viewport */
	left: 50%; /* horizontal position, move the given space to the right (from the left) */
	transform: translate(-50%, -50%); /* move an element from current position */
	-ms-transform: translate(-50%, -50%) /* move an element from current position (for older internet versions) */
}

article.development_team:hover .development_team_image {
	opacity: 1;
}

article.development_team:hover .team_name {
	opacity: 1;
}

div.text_image {
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 16px; /* px: an absolute length */
	color: white;
	background-color: grey;
	padding: 16px; /* space between object and border */
	border-radius: 8px; /* amount of bending in the edges of the border */
}

div.names {
	display: block; /* type of displaying the object */
	margin: 0 10%; /* space between border and other objects/edge of the screen */
	margin-bottom: 5%; /* bottom space between border and other objects/edge of the screen, overwrites the previous margin */
	font-size: 0.7vw; /* vw: relative to size of the viewport */
	letter-spacing: 1px; /* space between letters*/
	line-height: 1.2; /* height between lines*/
}

a.tour_buttons {
	color: white;
}

div.popup {
	width: 15%;
	padding: 1%;
	position: absolute;
	z-index: 1;
	opacity: 0.95;
	margin: 0 9%;
	top: 30%;
	color: white;
	background-color: grey;
	border-radius: 15px;
	
	font-size: 1.1vw; /* vw: relative to size of the viewport */
	line-height: 1.1; /* space between the lines of text */
}

div.message1{
	left: 0;
}

div.message2{
	left: 23%;
}

div.message3{
	left: 46%;
}

div.message4{
	left: 69%;
}

div.message5{
	width: 5%;
	text-align: center;
	position: fixed;
	top: 90%;
	right: 12%;
	background-color: black;
	opacity: 0.8;
}

div.message6{
	width: 5%;
	text-align: center;
	position: fixed;
	top: 90%;
	right: 4%;
	background-color: black;
	opacity: 0.8;
}

div.message7{
	width: 5%;
	text-align: center;
	position: fixed;
	top: 90%;
	right: -4%;
	background-color: black;
	opacity: 0.8;
}

span.line {
	border-left: 5px solid grey;
	display: block;
	height: 3vw;
	width: 15%;
	padding: 1%;
	position: absolute;
	z-index: 1;
	opacity: 0.95;
	margin: 0 9%;
	top: 18%;
}

span.message1 {
	left: 7%;
}

span.message2 {
	left: 29.5%;
}

span.message3 {
	left: 52%;
}

span.message4 {
	left: 75%;
}




/* Data Input page */

div.choose_data {
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 1.2vw; /* vw: relative to size of the viewport */
	letter-spacing: 1px; /* space between letters*/
	line-height: 1.2; /* height between lines*/
	background-color: lightgrey;
	width: 40%;
	border: 5px solid #6D8890; /* (thickness - type of line - color) of the border */
	padding: 50px; /* space between object and border */
	display: block; /* type of displaying the object */
	margin-left: 10%; /* left space between border and other objects/edge of the screen */
	margin-right: auto; /* right space between border and other objects/edge of the screen */
	margin-top: 3vw; /* top space between border and other objects/edge of the screen */
}

article.data_input {
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 1.5vw; /* vw: relative to size of the viewport */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* (normal, bold, or numeric) style of the text */
	margin-top: 2%; /* top space between border and other objects/edge of the screen */
	margin-left: 10%; /* left space between border and other objects/edge of the screen */
	margin-right: 10%; /* right space between border and other objects/edge of the screen */
}

form.input{
	display: block; /* type of displaying the object */
	left: 30%; /* horizontal position, move the given space to the right (from the left) */
}

div.message13{
	left: 2%;
	top: 79%;
}

span.message13 {
	left: 9.5%;
	top: 67%;
}



/* Visualizations page */

article.visualizations {
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 1.5vw; /* vw: relative to size of the viewport */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* (normal, bold, or numeric) style of the text */
	margin-top: 2%; /* top space between border and other objects/edge of the screen */
	margin-left: 10%; /* left space between border and other objects/edge of the screen */
	margin-right: 10%; /* right space between border and other objects/edge of the screen */
}

article.visualization_1 {
	display: block; /* type of displaying the object */
	width: 90%;
	height: 200%;
	padding: 1%; /* space between object and border */
	margin: 3%; /* space between border and other objects/edge of the screen */
}

button { /* Not used yet */
	display: block; /* type of displaying the object */
	border: 3px solid black; /* (thickness - type of line - color) of the border */
	border-color: black;
	background-color: grey;
	border-radius: 30px; /* amount of bending in the edges of the border */
	color: black;
	margin: 2% 30%; /* (top & bottom - left & right) space between border and other objects/edge of the screen */
	color: white;
	padding: 2% 4%; /* space between object and border */
	font-size: 100%; /* %: percentage of the screen/viewport */
	text-align: center; /* position of the text */
	cursor: pointer; /* change the curser into a pointer when on this object */
	transition-duration: 0.3s; /* time of the transition */
}

.button_1:hover {
	background-color: #4CAF50;
	color: white;
}

.button_2:hover {
	background-color: #4CAF50;
	color: white;
}

div.message8{
	left: 1.5%;
	top: 38%;
}

div.message9{
	left: 50%;
	top: 30%;
}

div.message10{
	width: 18%;
	left: 12%;
	top: 120%;
}

span.message8 {
	left: 10%;
	top: 55%;
}

span.message9 {
	left: 58%;
	top: 52%;
}

span.message10 {
	border-left: 0;
	border-bottom: 5px solid grey;
	width: 5%;
	left: 33%;
	top: 120%;
}



/* Contact page */

article.contact {
	font-family: Georgia, serif; /* style of the font (NL: "lettertype") */
	font-size: 1.5vw; /* vw: relative to size of the viewport */
	font-style: normal; /* normal or italic */
	font-weight: normal; /* (normal, bold, or numeric) style of the text */
	margin-top: 2%; /* top space between border and other objects/edge of the screen */
	margin-left: 10%; /* left space between border and other objects/edge of the screen */
	margin-right: 10%; /* right space between border and other objects/edge of the screen */
}

div.contact {
    margin: 0 auto; /* space between border and other objects/edge of the screen */
    width: 80vw; /* vw: relative to size of the viewport */
}

div.contact_columns {
	padding-top: 0; /* top-space between object and border */
	display: flex; /* type of displaying the object */
}

div.column_left {
	width: 60%;
	margin-right: 3%; /* right space between border and other objects/edge of the screen */
}

div.column_right {
	width: 35%;
	margin-left: 2%; /* left space between border and other objects/edge of the screen */
}

div.row {
	padding-bottom: 2%; /* bottom-space between object and border */
}

img.contact_picture {
	border: 5px double black; /* (thickness - type of line - color) of the border */
	width: 60%;
	height: auto;
	margin: -2% 25%; /* (top & bottom - left & right) space between border and other objects/edge of the screen */
}

div.message11{
	left: 12%;
	top: 18%;
}

div.message12{
	left: 57%;
	top: 20.5%;
}

span.message11 {
	left: 20%;
	top: 31%;
}

span.message12 {
	left: 65%;
	top: 31%;
}


