{%extends 'base.html'%}
{% load static %}
{%block content%}
<head>
	<title>Contact</title>
</head>

<body>
	<section>
		<h3> Contact </h3>
		<p>
        Have some trouble with interacting with the visualisations? Or want to know more about our visualisations as a whole? Well, you can contact us via the means shown below!
        </p>
        
	</section>
    <div class="contact">
    Email:....<br>
    Phone Number:...<br>
    Address:...<br>
    </div>
	<article class="picture2">
		<img class="ContactPic" src= "{% static 'main/ContactPic.jpg' %}" alt="Contact Picture">
	</article>
    
    
</body>
{%endblock%}
