{%extends 'base.html'%}
{%block content%}
<head>
	<title>Data Input</title>
</head>

<body>
	<section>
		<h3> Data Input </h3>
		<p>
		Getting bored of just looking at the default data set visualisations? Well in this page you can add your own data set and the visualisations will match that data set!
		</p>
	

	</section>
	<div>
	  Just import the data set you want inputted and the visualisation will alter depending on the data set (as long as the data set is the same structure as the enron set)
		<form action="/action_page.php">
			<input type="file" id="myFile" name="filename">
			<input type="submit">
		  </form>

   </div>
</body>
{%endblock%}