<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{% load static %}
{%block content%}
<head>
	<title>Home</title>
</head>

<body>
	<section>
		<h2> Introduction </h2>
		<article class="introduction">
			Welcome to -insert company name-! Here you can easily turn your obtained data in to clear visualizations.
			If you don't have data yourself, you can use our test data to see the visualizations.
		</article>
		<br><br><br>
		<article class="picture1">
			<img class="development_team" src= "{% static 'main/development_team.jpg' %}" alt="Development Team">
		</article>
	</section>
</body>

{%endblock%}