<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{% load static %}
{%block content%}
<head>
	<title>Home</title>
</head>

<body>
	<section>
		<h2 class="intro_title"> Introduction </h2>
		<article class="introduction">
			Welcome to VisKit! Here you can easily turn your obtained data in to clear visualizations.
			If you don't have data yourself, you can use our test data to see the visualizations.
		</article>
		<br><br><br>
		<article class="development_team">
			<img class="development_team_image" src= "{% static 'main/development_team.jpg' %}" alt="Development Team">
			<div class="team_name">
				<div class="text_image">Team VisKit</div>
			  </div>
		</article>
	</section>
</body>

{%endblock%}