<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8"> 
	<link rel="icon" href="{% static 'main/Viskit_favicon.png' %}"type="image/png">
    <link rel="stylesheet"  href="{%  static  'main/stylesheet.css'  %}">
</head>
<body>
    <header>
        <div class="header_colomns">
            <div class="name">
                <h1> VisKit </h1>
            </div>
            <div class="icon">
                <img class="viskit_icon" src= "{% static 'main/VisKit_logo.png' %}" alt="Viskit Icon">
            </div>
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'home' %}"> Home </a></li>
                <li><a href="{% url 'data_input' %}"> Data Input</a></li>
                <li><a href="{% url 'visualization' %}"> Visualizations </a></li>
                <li><a href ="{% url 'contact' %}"> Contact </a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>