<!DOCTYPE html>
{%extends 'base.html'%}
{% load static %}
{%block content%}
<head>
	<title>Data Input</title>
</head>
<body>
    <article class="data_input">
        <h2> Data Input </h2>
        Getting bored of just looking at the default data set visualisations, use the feature below to implement your own dataset!
    </article>
    </section>
    <div class="choose_data">
    Here you can choose a file and import it. The visualizations will alter depending on the input data. Keep in mind that the data set has to have the same structure as the enron dataset. So far the only supported file type is a csv file.
    <form method="POST" enctype="multipart/form-data"8> {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Save">
    </form>
    </div>
</body>
{%endblock%}
