<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<link rel="shortcut icon" href="icon.png" />
	<title>Data Input</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>

<body>
	<header>
			<h1> Company name </h1>
	</header>
	<nav>
		<ul class="navbar">
			<li><a class="passive" href="{% url 'home' %}"> Home </a></li>
			<li><a class="passive" href="{% url 'data_input' %}"> Data Input </a></li>
			<li><a class="active" href="{% url 'visualization' %}"> Visualizations </a></li>
			<li><a class="passive" href ="{% url 'contact' %}"> Contact </a></li>
		</ul>
	</nav>

	<section>
		<h3> Data Input </h3>
		<article>
			<header>
					<h2> Title 1 </h2>
			</header>
			Text 1
		</article>
		<article class="question">
			<header>
					<h2> Title 2 </h2>
			</header>
			Question<br>
			<p> -The answer </p><br> 
			Motivation <br>
			<br> <br> <br> <br>
		</article>
	</section>
</body>
</html>