<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{% load static %}
{%block content%}
<head>
	<title>Home</title>
</head>
<body>
	<section>
		<h2> Introduction </h2>
		<article class="introduction">
			Welcome to VisKit! Here you can easily turn your obtained data into clear visualizations.
			Go to the data input page to upload your own data.
			If you don't have data yourself, you can use our test data to see the interactive images on the visualization page. <br>
			Want to know more about us, click <a href="https://viskit.herokuapp.com/contact/">here</a>!
		</article>
		<br><br><br>
		<article class="development_team">
			<img class="development_team_image" src= "{% static 'main/development_team.jpg' %}" alt="Development Team">
			<div class="team_name">
				<div class="text_image">Team VisKit</div>
			  </div>
		</article>
	</section>
</body>
{%endblock%}