<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<link rel="shortcut icon" href="icon.png" />
	<title>Home</title>
	<link rel="stylesheet" href="stylesheet.css">
</head>

<body>
	<header>
			<h1> Company name </h1>
	</header>
	<nav>
		<ul class="navbar">
			<li><a class="active" href="index.html"> Home </a></li>
			<li><a class="passive" href="data_input.html"> Data Input </a></li>
			<li><a class="passive" href="visualizations.html"> Visualizations </a></li>
			<li><a class="passive" href="contact.html"> Contact </a></li>
		</ul>
	</nav>

	<section>
		<h3> Home </h3>
		<article>
			<header>
					<h2> Title 1 </h2>
			</header>
			Text 1
		</article>
		<!-- <img class="dom1" src="dom1.jpg" alt="Domotica_in_huis"> -->
		<article class="question">
			<header>
					<h2> Title 2 </h2>
			</header>
			Question<br>
			<p> -The answer </p><br> 
			Motivation <br>
			<br> <br> <br> <br>
		</article>
	</section>
</body>
</html>