<!DOCTYPE html>
<!-- Home page -->
<html lang="en">
{%extends 'base.html'%}
{% load static %}
{%block content%}
<head>
	<title>Home</title>
</head>
<body>
	<section>
		<h2> Introduction </h2>
		<article class="introduction"> <!-- text with a link to the contact page -->
			Welcome to VisKit! Here you can easily turn your obtained data into clear visualizations.
			Go to the data input page to upload your own data.
			If you don't have data yourself, you can use our test data to see the interactive images on the visualization page.
			Want to know more about us, click <a href="https://viskit-production.herokuapp.com/contact/">here</a>.
		</article>
		<br><br><br>
		<article class="development_team"> <!-- picture of the development team -->
			<img class="development_team_image" src= "{% static 'main/development_team.jpg' %}" alt="Development Team">
			<div class="team_name"> <!-- by hovering over the picture you see this text "Team VisKit"-->
				<div class="text_image">Team VisKit</div>
			  </div>
		<div class="names"> <!-- names of the people in the picture-->
			<b>Back Row:</b> Thymo Fieten, Priyanka Atwani, Daniël Dankers, Koert Schoenmakers <br>
			<b>Front Row:</b> Akshath Gurtu, Jip van Hoef
	    </div> 
		</article>
	</section>
	<div class="popup message1">
		We start the introduction tour here! 
	</div>
	<span class="line message1"></span>
	<div class="popup message2">
		Use this page to import your own data.
	</div>
	<span class="line message2"></span>
	<div class="popup message3">
		Here you can find the visualizations.
	</div>
	<span class="line message3"></span>
	<div class="popup message4">
		For questions or more information about us you can go here.
	</div>
	<span class="line message4"></span>
	<div class="popup message6">
		<a class="tour_buttons" href="{% url 'home' %}"> Skip</a>
	</div>
	<div class="popup message7">
		<a class="tour_buttons" href = "{% url 'data_input_tour'%}"> Next </a>
	</div>
</body>
{%endblock%}