<!DOCTYPE html>
<!-- Visualizations page -->
{%extends 'base.html'%}
{% load static %}
{%block content%}
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Visualizations</title>
      
  </head>
  <body>
    <section>
      <h2> Visualizations </h2>
      <article class="visualizations">
        Here you can find the generated visualizations. On the left you can see the network graph and on 
        the right the line graph. Have fun exploring the data!
      </article>
    </section>
    <section>
      <article class="visualization_1">
        {%load plotly_dash%}
        {%plotly_app name="network_graph" ratio=1%}
      </article>
  
    </section>         
  </body>
  {%endblock%}
</html>