<!DOCTYPE html>
{%extends 'base.html'%}
{%block content%}
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Visualizations</title>
      
  </head>
  <body>
    <section>
      <h2> Visualizations </h2>
      <article class="visualizations">
        Here you can find the visualizations.
      </article>
    </section>
    <section>
      <article class="visualization_1">
        {% if network_graph %}
        {{ network_graph|safe }}
        {% else %}
        <p>No graph was provided.</p>
        {% endif %}
      </article>
      <article class="visualization_2">
        {% if line_graph %}
        {{ line_graph|safe }}
        {% else %}
        <p>No graph was provided.</p>
        {% endif %}
      </article>
    </section>         
  </body>
  {%endblock%}
</html>
